@model Customer
@{
    ViewData["Title"] = "Modification d'un client";
}

<div class="m-5 d-flex justify-content-between">
    <h2> Modifier un Client </h2>
</div>


<form method="post" style="width:75%;margin:auto">
    <div class="mb-3">
        <label asp-for="Firstname"></label>
        <input asp-for="Firstname" class="form-control" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>    
    <div class="mb-3">
        <label asp-for="Lastname"></label>
        <input asp-for="Lastname" class="form-control" />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Mail"></label>
        <input asp-for="Mail" class="form-control" />
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Budget"></label>
        <input asp-for="Budget" class="form-control" />
        <span asp-validation-for="Budget" class="text-danger"></span>
    </div>

    <div class="text-center m-4 p-2">
        <button class="btn btn-secondary" style="width:100px">Modifier</button>
        <a class="btn btn-secondary" asp-controller="Customer" asp-action="Index">Revenir aux clients</a>
    </div>
</form>
